$nav-dark-accent: #495057;
$netedu-tab-text-color: rgba(255, 255, 255, 0.75);
$netedu-tab-text-hover: rgba(255,255,255,.5);

$netedu-blue: #007bff;
$netedu-gold: #ffa500;
$netedu-red: #c9302c;
$netedu-red-border: #ac2925;
$netedu-red-hover: #d9534f;
$netedu-red-hover-border: #d43f3a;